{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='flatly.css')}}">
{% endblock %}

{% block title %}ADMIN HOMEPAGE{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}
{% block body %}
  {% block content %}
    <h2 align='center'>Welcome to Twitoff Admin</h2>
    
  {% endblock %}
  <ul>
    <li><a href="/admin/add_test_users" class="btn btn-secondary btn-block">Add test users</a></li>
  </ul>
  <a href="/">Leave Admin...</a>
{% endblock %}
