{% extends "bootstrap/base.html" %}
{% block title %}This is a Twitoff!{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block body %}
  {% block content %}
    <h1 align='center'>Welcome to twitoff</h1>
    
  {% endblock %}
  <ul>
    <li><a href="/view_users" class="btn btn-primary btn-block">View test users</a></li>
  </ul>

  <form action = "/compare" method="post">
 
  <div class="form-group">
    <input type="text" name="tweet_text" class="form-control" id="tweet_text"  placeholder="enter tweet">
    <label class="form-check-label" for="exampleCheck1">which of the following users would be more likely to tweet this?</label>
  </div>

  <div class="form-group">
    <label for="user1label">User 1</label>
    <input type= text  name = "user1" class="form-control" id="user1"  placeholder="@username">
    <small id="emailHelp" class="form-text text-muted">Enter a User .</small>
  </div>
  <div class="form-group">
    <label for="user2">User 2</label>
    <input type="text" name=user2 class="form-control" id="user2" placeholder="@username">
  </div>
  <button type="submit" class="btn btn-primary">Compare</button>
</form>
{% endblock %}
